.footer{
    background-color: black;
    padding: 1rem;
    text-align: center;
}

.footer small{
 color: var(--color-white) !important;
}

.heart_icon{
    color: var(--color-red);
}

.footer small a{
    text-decoration: none;
    color: var(--color-red);
    transition: var(--transition);
}

.footer small a:hover{
    text-decoration: underline;
    color: var(--color-red);
}