.Summary {
  background-color: gray;
  /* padding-bottom: 0.1px; */
  margin-bottom: 0px;
}

.Summary p {
  text-align: center;
  color: white;
  font-size: 6vw ;
  margin-top: 0px;
  margin-bottom: 0px;
}
