.formContainer{
    width: 100%;
    height: 64.2vh;
    background-color: blue;
    background-image: url(https://img.freepik.com/premium-photo/contact-us_36325-2135.jpg?w=1380);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form{
    width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:transparent;
    justify-content: center;
    height: 280px;
    margin: auto;
}

.btn{
    margin-top: 12px;
}


.form label {
    font-weight: bolder;
    margin: 5px;
    font-size: large;
  }
  
  .form input {
    width: 60%;
    padding: 5px;
    font-size: large;
  }


  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width:500px){
  .formContainer{
    height: 90.3vh!important;

}

}


