.HeaderButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 7.5rem;
  padding: 0;
  /* position: relative; */
  /* left: 300px; */
  border-radius: 20px;
  border: none;
  padding: 2px 6px;
  border: 2px red solid;
  transition: all 0.7s ease-in-out;
}

.HeaderButton:hover {
  cursor: pointer;
  border-color: orange;
  background-color: black;
  color: white;
}
.HeaderButton span {
  border-radius: 20px;
  padding: 3px 10px;
  font-size: 90%;
  background-color: brown;
  transition: all 0.7s ease-in-out;
}

.HeaderButton:hover span {
  background-color: black;
  color: white;
}

.HeaderButton h1 {
  margin: 0;
}






@media screen and (max-width: 1200px){

}


@media screen and (max-width: 992px){
  .HeaderButton {
    width: 7rem;
 }

 .HeaderButton h1 {
    font-size: 1.5rem;
}
}


@media screen and (max-width: 768px){
  .HeaderButton {
    width: 6rem;
 }

 .HeaderButton h1 {
    font-size: 1.2rem;
}
}


@media screen and (max-width: 620px){
  .HeaderButton {
    width: 5rem;
 }

 .HeaderButton h1 {
    font-size: 0.8rem;
}

.HeaderButton span {
  font-size: 70%;
}
}
