.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.headerList li {
  margin: 0px 10px;
  border: none;
}

.headerList li a {
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  outline: none;
  color: white;
  transition: color 0.5s ease-in-out;
}

.headerList li:hover {
  transform: scaleX(1.1);
}

.authLogin {
  font-size: 30px;
  border-bottom: none;
  outline: none;
  color: red;
  z-index: 100;
}

.header a {
  text-decoration: none;
  font-weight: bold;
}

.logOutbtn {
  border-radius: 5px;
  border: none;
  padding: 6px 20px;
  font-weight: 900;
  font-size: 1rem;
  background-color: #9f5ccc;
  color: white;
}

.headerList li a:hover,
.headerList li a:active,
.active {
  color: red;
  border-bottom: 2px brown solid;
}

.logOutbtn:hover {
  background-color: #873abb;
}

.icon_active {
  color: white;
  display: none;
}

/* .header_active{
  display: none;
  } */

@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .headerList li a {
    font-size: 25px;
  }

  .logOutbtn {
    /* position: absolute; */
    /* left: 20px; */
    border-radius: 5px;
    border: none;
    padding: 6px 20px;
    font-weight: 900;
    font-size: 0.8rem;
    background-color: #9f5ccc;
    color: white;
  }
}

.header_container{
  position: relative;
}

@media screen and (max-width: 768px) {
  .headerList li a {
    font-size: 20px;
  }

  .logOutbtn {
    /* position: absolute; */
    /* left: 20px; */
    border-radius: 5px;
    border: none;
    padding: 6px 20px;
    font-weight: 900;
    font-size: 0.6rem;
    background-color: #9f5ccc;
    color: white;
  }
}

 

@media screen and (max-width: 620px) {
  .headerList li a {
    font-size: 18px;
  }
}

@media screen and (max-width: 560px) {
  .headerList li{
    font-size: 18px;
    margin: 3rem;
  }

  .icon_active {
    color:black;
    display: block;
    cursor: pointer;
  }

  .header {
    display: none;
  }


  .header ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: inline-block;

  }



  .logOutbtn{
    position: absolute;
    top: 10px;
    left: 2rem;
  }

  .headerButton{
    position: absolute;
    top: 10px;
    right: 2rem;
  }
  
  .header_active{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #873abb;
    justify-content: center;
    align-items: center;
    position: fixed;
  }

  .headerContainer_active{
    position: fixed;
    background-color: white;
    width: 100%;
  }

  /* ::-webkit-scrollbar {
    display: none;
  } */
}
